@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.saldo{
  width: 20%;
}

.dsmeta-card {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  
}

.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

#sales {
  padding: 40px 10px;
  align-items: center;
}

.title {
  color: #676fff;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  
}

.dsmeta-form-control-container {
  margin-bottom: 16px;
  max-width: 300px;
  align-items: center;
}

.dsmeta-form-control {
  width: 100%;
  height: 46px;
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 5px;
  color: #9aaabe;
  padding: 0 20px;
  font-size: 18px;
}

.dsmeta-sales-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table thead {
  height: 55px;
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 700;
}

.table tbody {
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
  text-align: center;
  

}

.table tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
  text-align: center;
  
}

.table tbody tr:hover > td {
  background-color: #384459;
}

.table tbody tr:nth-child(odd) {
  background-color: #242c3b;
}

.tr{
  text-align: center;
  align-items: center;
  height: 100%;
}



@media (min-width: 576px) {
    .show576 {
        display: flexbox;
        width: 70%;
        

    }

    .dsmeta-card {
        padding: 35px;
    }

    .table tbody tr {
        height: 55px;
        text-align: center;
    }

    .table tbody {
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
        width: 10%;
    }
}